<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercicio 01</title>
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

  <div class="container">
    <!-- Cabecera -->
    <div class="row mt-3 mb-3">
      <h3 class="text-center">Ejercicio 01</h3>
    </div>
    <!-- Filtro -->
    <div class="row">
      <div class="col-md-12">
        <!-- Inicio Card -->
        <div class="card">
          <div class="card-header">Filtro por Bandos - Publisher</div>
          <!-- Inicio body -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <select name="casas" id="casas" class="form-select">
                  <option value="">Seleccione</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Fin body -->
        </div>
        <!-- Fin Card -->
      </div>
    </div>

    <div class="container mt-5 d-none" id="container-grafico">
      <!-- Cabecera -->
      <!-- Filtro -->
      <div class="row">
        <div class="col-md-12">
          <!-- Inicio Card -->
          <div class="card">
            <div class="card-header">Grafico de Barras - Alignment</div>
            <!-- Inicio body -->
            <div class="card-body">
              <div class="row">
                <div class="mt-3">
                  <canvas id="migrafico">
                  </canvas>
                </div>

              </div>
            </div>
            <!-- Fin body -->
          </div>
          <!-- Fin Card -->
        </div>
      </div>

    </div>
    <!-- ChartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const selectCasas = document.querySelector("#casas");
        const container = document.querySelector("#container-grafico");
        const lienzo = document.getElementById("migrafico");
        

        function getPublishers() {
          const parametros = new URLSearchParams();
          parametros.append('operacion', 'listar')
          fetch(`../controllers/publisher.php?operacion=listar`)
            .then(respuesta => respuesta.json())
            .then(datos => {
              datos.forEach(element => {
                const optionTag = document.createElement("option");
                optionTag.value = element.id;
                optionTag.text = element.publisher_name;
                selectCasas.appendChild(optionTag);
              });
            });
        }

        function render(){
          const select = parseInt(selectCasas.value)
          const parametros = new URLSearchParams();

          parametros.append("operacion", "listar")
          parametros.append("publisher",parseInt(selectCasas.value))

          if(select < 1){
            container.classList.add("d-none")
          }else
          {
            fetch(`../controllers/ejemplo1.php?${parametros}`)
              .then(respuesta => respuesta.json())
              .then(datos => {
                container.classList.remove("d-none");
                grafico.data.datasets[0].data = [datos[0]['Total']];
                grafico.data.datasets[1].data = [datos[1]['Total']];
                grafico.options.plugins.title.text =  `${selectCasas.options[selectCasas.selectedIndex].text}`
                grafico.update();
              })
          }
        }

        //Objetos para UI
        const btnMostrar = document.querySelector("#mostrar");
        //Construir un gráfico
        //Chart(lienzo, datos, configuración)
        const coloresFondo = ['rgb(40,180,99, 0.5)', 'rgb(230,126,34, 0.5)', 'rgb(93,173,226, 0.5)', 'rgb(238,255,70, 0.5)'];
        const coloresFondo2 = ['rgb(40,10,99, 0.5)', 'rgb(230,12,34, 0.5)', 'rgb(93,13,256, 0.5)', 'rgb(28,55,18, 0.5)'];

        const coloresBorde = ['rgb(40,180,99)', 'rgb(230,126,34)', 'rgb(93,173,226)', 'rgb(238,255,70)'];
        const coloresBorde2 = ['rgb(40,10,99)', 'rgb(230,12,34)', 'rgb(93,13,256)', 'rgb(28,55,18)'];

        const borde = 2;

        const grafico = new Chart(lienzo, {
          type: 'bar',
          data: {
            labels: [''],
            datasets: [
              {
                label: '# de Buenos',
                data: [],
                backgroundColor: coloresFondo,
                borderWidth: borde,
                borderColor: coloresBorde
              },
              {
                label: '# de Malos',
                data: [],
                backgroundColor: coloresFondo2,
                borderWidth: borde,
                borderColor: coloresBorde2
              }
            ]
          }, options:{
              scales:{
                y:{
                  min:0,
                  max:300
                }
              },
              plugins:{
                title:{
                  display: true,
                  text:""
                }
              }
          }

        });

        selectCasas.addEventListener("change",render)

        getPublishers();
      });
    </script>
</body>

</html>